h1 {
    color: rgb(167, 124, 16);
    text-align: center;
    text-decoration: underline overline;
}
h2{
    color: rgb(90, 26, 26);
    text-align: center;
}
h2.color_question {
    background-color: aliceblue;
    padding: 1em ;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1em;
}
table {
    margin-left: auto; /* margin-left and margin-right is used for centering this table */
    margin-right: auto;
    width: auto;
    color: black;
    background-color: rgb(184, 182, 182); 
    text-align: center; 
    border-collapse: collapse;
    letter-spacing: .3em;
    border-style: inset;
    border-color: rgb(58, 64, 73);
    border-width: .5em;
    
    
    
}
table td, table th {
    border:  .2em solid rgb(100, 95, 95);
}
thead th {
    padding: .7em;
    font-size: 1.8em;
}
body {
    color: white;
    background-color: black;
    margin: 2em;
}
header {
    text-align: center;
}
a {
    text-decoration: none;
}
form {
    text-align: center;
}
label:hover {
    color: red;
}
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 .2em blue;
}
a:visited {
    color: hotpink;
}
button {
    margin-top: 1em;
}


/* input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
span, label {
    position:relative;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
} */
