h1 {
    color: rgb(167, 124, 16);
    text-align: center;
    text-decoration: underline overline;
    margin-bottom: .5em;

}
h2{
    color: rgb(90, 26, 26);
    text-align: center;
    margin-top: .5em;
}
h1, h2 { /*Adding font from google fonts. Not scaling well.*/
    font-family: 'League Gothic', sans-serif;
    font-size: 3em;

}
h2.color_question { /* This is for the h2 header before the table.*/
    background-color: aliceblue;
    padding: 1em ;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1em;
}
main {/*Font from google fonts. Again, not scaling well.*/
    font-family: 'League Gothic', sans-serif;
    font-size: 1.3em;
}
table {
    margin-left: auto; /* margin-left and margin-right is used for centering this table */
    margin-right: auto;
    /*This is where I had width added.*/
    color: black;
    background-color: rgb(184, 182, 182); 
    text-align: center; 
    border-collapse: collapse;
    letter-spacing: .3em;
    border-style: inset;
    border-color: rgb(58, 64, 73);
    border-width: .5em;
    
    
    
}
table td, table th { /* This [element] [element] is to show that it only effects the child that is inside the specified parent.*/
    border:  .2em solid rgb(100, 95, 95);
}
thead th {
    padding: .7em;
    font-size: 1.8em;
}
th { /*This is where I add transtions for the table headers.*/
    transition-property: font-size;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
}
th:hover{
    font-size: 1.5em;
}
table img {/*This is where I add transitions to the images within the table.*/
    width: 1em;
    height: 1em;
    transition-property: width, height ;
    transition-duration: 1s;
}
table img:hover{
    width: 10em;
    height: 11em;
}
body {
    color: white;
    background-color: rgba(0, 0, 0, 0.9); /*Might delete that opacity at rgba. */
    margin: 2em;
}
header {
    text-align: center;
}
a {
    text-decoration: none;
}
form {
    text-align: center;
}
label:hover {
    color: red;
}
input[type="checkbox"]:checked {
    box-shadow: 0 0 0 .2em blue;
}
a:visited {
    color: hotpink;
}
button {/*This is part of the form and the "fancy button hover effect codeAlong"*/
    margin-top: 1em;
    transform: skew(20deg);
    background: none;
    color:rgb(167, 124, 16);
    border: 2px solid;
    padding: .5em 1em;
    font-size: 1em;
    transition-duration: .5s;
    transition-property: border-color, color, box-shadow ;
}
button:hover {
    border-color: rgb(119, 9, 9);
    color: white;
    box-shadow: -.25em -.05em 0 .3em rgb(119, 9, 9);
    transform: translateY(-0.25em) skew(20deg);
    cursor: pointer;
} /*This is where the "codeAlong" ends.*/
/*Replaced my original Nav Bar with one of Bootstrap*/
/* .fixed-nav {
    margin: auto;
    border: 3px solid white;
    display: flex;
    justify-content: space-evenly;
    
    
} */
/* @media (max-width: 380px) {
    .fixed-nav {
        flex-direction: column;
    }
} */
/*This is the end of the orginal Nav Bar I had.*/
@media (max-width: 380px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }
}
.navigator{
   
    border: 2px solid blue;
}


/* input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
span, label {
    position:relative;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
} */
